@mixin inputField() {
  padding: 0.5rem;
  border-radius: 5px;
  width: 15rem;
  height: 3.5rem;
  line-height: 1.6;
  user-select: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@mixin btnAuth() {
  width: 10rem;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}