:root {
    --primary-color: #70c1cc;
    --light-color: white;
    --dark-color: #d1d1d1;
    --danger-color: #c71a1a;
    --danger-light-color: #f5b2b2;
  
    --text-danger-color: #971010;
    
    --text-light-color:#ffffff;
    --text-dark-color: #3d3b3b;
    --text-link-color: #3c939e;
  
    --box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }