.wrapper__nav-bar {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0 32px;
    background-color: gray;
    height: 100vh;
}
.navigation-content__item {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    margin-top: 3rem;
    font-size: 1.5rem;
}
.navigation-content__item:hover {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    margin-top: 3rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
}
.profile-header {
    margin-top: 2rem;
}
.user-avatar {
    border-radius: 50%;
}
.user-name {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}
.log-out {
    padding: 1.5rem 1.5rem;
    margin-top: 5rem;
}
.log-out:hover {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--log-out-color);
}
.log-out__icon {
    font-size: 2rem;
}
