.feeds-container {
	background-color: #e0e0e0;
	margin-top: 55px;
	.body-container {
		display: flex;

		.body-feeds {
			margin: 15px 0px;
			width: 650px;
			position: absolute;
			left: 29%;
		}
	}
}
