.list-message {
    width: 25%;

    .list-message__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 15px;

        .list-message__title {
            font-size: 1.4rem;
            font-weight: bold;
        }

        .list-message__icons {
            display: flex;

            .list-message__icon {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                margin: 10px 5px;
                font-size: 1.2rem;
                padding: 2px 5px;
                background-color: var(--secondary-bubble-chat);
                cursor: pointer;
            }
        }
    }

    .list-message__search {
        display: flex;
        align-items: center;
        background-color: var(--secondary-bubble-chat);
        padding: 10px;
        margin: 5px 15px;
        border-radius: 30px;

        .list-message__search--input {
            width: 100%;
            background-color: transparent;
            outline: none;
            border: none;
            padding-left: 5px;
        }
    }

    .list-message__chats {
        height: calc(100vh - 170px);
        margin: 5px;
        margin-top: 20px;
        cursor: pointer;
        overflow-y: auto;

        .list-message__chat {
            display: flex;
            border-radius: 10px;

            .chat-avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 5px;
            }

            .right-side-container {
                padding: 5px;

                .user-name {
                    font-size: 14px;
                }

                .latest-msg {
                    font-size: 13px;
                    color: #8c8f96;
                }
            }

            &::selection {
                background-color: var(--chat-selected-color);
            }

            &:hover {
                background-color: var(--chat-hover-color);
            }
        }

    }
}