.container {
	background-color: white;
	width: 100%;
	border-radius: 10px;
	padding-top: 13px;
	margin-top: 15px;
	box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.75);

	img {
		width: 40px;
		cursor: pointer;
	}
	hr {
		border: 0;
		height: 1px;
		background: rgb(85, 85, 85);
		opacity: 0.2;
	}
	.container__top {
		display: flex;
		align-items: center;
		position: relative;
		padding: 0px 15px;

		img {
			margin-right: 10px;
			border-radius: 30px;
			cursor: pointer;
		}
		.container__top-info {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			h4 {
				font-size: medium;
				cursor: pointer;
			}
			p {
				font-size: small;
				color: gray;
			}
		}
	}
	.container__content {
		padding: 10px 15px;
	}
	.container__img {
		img {
			width: 100%;
		}
	}
	.container__status {
		display: flex;
		justify-content: space-between;
		padding: 5px 10px;
		font-size: medium;
		color: rgb(68, 68, 68);
	}

	.container__features {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 40px;

		.container__feature {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1% 8%;
			border-radius: 5px;
			border: none;
			background-color: transparent;
			font-size: 16px;
			color: gray;

			p {
				margin-left: 5px;
				font-weight: bold;
			}

			&:hover {
				opacity: 0.8;
				background-color: rgb(201, 201, 201);
				cursor: pointer;
			}
		}
	}
}
