.sidebar {
	width: 27%;
	height: 100vh;
	padding: 23px 7px;
	position: fixed;

	.sidebar-row {
		display: flex;
		align-items: center;
		font-size: 16px;
		cursor: pointer;
		border-radius: 10px;
		&:hover {
			background-color: rgb(226, 226, 226);
		}

		img {
			height: 38px;
			border-radius: 30px;
		}

		.sidebar-row__icon {
			height: 30px;
			width: 30px;
			margin: 10px;
			color: rgb(14, 132, 230);
		}

		.sidebar-row__icon--more {
			border-radius: 30px;
			background-color: rgb(226, 226, 226);
		}
		p {
			font-size: 15px;
			margin-left: 6px;
		}
		.sidebar-row-user-img {
			height: 40px;
			width: 40px;
			margin: 5px;
			padding: 0px;
		}
	}
}
