.background__circle-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.5;
    z-index: var(--z-index-highest);
    .circle-loading {
        width: 10rem;
        height: 10rem;
        border-radius: 15rem;
        margin: 0 auto;
        position: relative;
        top: 15rem;
        right: 0;
        left: 0;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            border: 1rem solid white;
            border-right-color: var(--primary-color);
            border-bottom-color: var(--primary-color);
            animation: circleLoading 1s forwards infinite linear;
        }
    }
    @keyframes circleLoading {
        to {
            transform: rotate(360deg);
        }
    }
}







