@import "../../../styles/mixin.scss";

.login-page > h1 {
  color: var(--primary-color);
  text-align: center;
  padding-top: 5rem;
  user-select: none;
}
.authen-type {
  font-style: italic;
  text-align: center;
  margin-top: 1rem;
  user-select: none;
}
.button-login {
  @include btnAuth();
  display: block;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}
.wrapper-input {
  margin-top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.input__user-name {
  @include inputField();
}
.input__password {
  @include inputField();
}
.wrapper__user-name {
  display: inline-grid;
}
.wrapper-password {
  position: relative;
}
.icon-password {
  position: absolute;
  top: 1.9rem;
  right: 0.6rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.register-link__login {
  text-align: center;
  display: block;
  margin-top: 1rem;
  line-height: 1.6;
  user-select: none;
  font-size: 1rem;
}
