.register-page {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	.container-form {
		width: 435px;
		height: 510px;
		display: flex;
		flex-direction: column;

		box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.9);
		border-radius: 10px;
		// background-color: gray;
		.register-form__header {
			margin: 10px 15px;
			.register-page__authen-slogan {
				line-height: 10px;
				font-size: small;
				font-weight: 600;
				color: #83888d;
			}
		}
		hr {
			height: 1px;
			background: rgb(85, 85, 85);
			opacity: 0.5;
		}
		.register-page__wrapper-input {
			.register-page__wrapper__name {
				.input__firstname {
					background-color: #f5f6f7;
					// border: 5px;
				}
				.input__surname {
					background-color: #f5f6f7;
				}
			}
			.register-page__wrapper__username {
				.input__user-name {
				}
			}
			.register-page__wrapper-password {
				.input__password {
				}
			}
			.register-page__wrapper-date-of-birth {
				.label-container {
				}
				.date-selections {
				}
			}
			.register-page__wrapper-gender {
				.label-container {
				}
				.gender-selections {
				}
			}
		}
		.button-register {
		}
	}
}
