:root {
  --primary-color: #70c1cc;
  --secondary-color: #13d2b8;
  --light-color: white;
  --dark-color: #d1d1d1;
  --danger-color: #c71a1a;
  --danger-light-color: #f5b2b2;
  --log-out-color: #cd2727;
  --text-danger-color: #971010;
  --confirm-color: rgb(77, 185, 77);
  --active-confirm-color: rgb(113, 216, 113);
  --text-light-color: #ffffff;
  --text-dark-color: #3d3b3b;
  --text-link-color: #3c939e;
  --background-color-common: #f0f2f5;
  --hover-color: #c1c2c6;

  --box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
